.paragraph-l{

 font-size: 25px;

}

.paragraph-s{

    font-size: 20px;
    
}

.heading-l{

    font-size: 35px;

}

.heading-m{

    font-size: 30px;
    
}

.heading-s{

    font-size: 25px;
    
}

.heading-xs{

    font-size: 20px;
    
}

.text-list{

    font-size: 25px;
    
}