@font-face {
    font-family: 'Rounded2';
    src: url('/Fonts/Odin\ Rounded\ -\ Light.otf');
}
.paragraph-l{

    margin-top: 5px;
    font-size: 30px;
    text-align: justify;
    font-family: Rounded2;

}

.paragraph-s{

    font-size: 20px;
    
}

.heading-l{

    left: 0%;
    display: block;
    background-color: #00413f;
    color: #c7cedf;
    text-align: center;
    padding: 10px;
    font-size: 45px;
    font-family: Rounded2;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;

}

.heading-m{

    left: 0%;
    display: block;
    background-color: #007a79;
    color: #c7cedf;
    max-width: 200px;
    padding: 10px;
    font-size: 35px;
    font-family: Rounded2;
    margin-bottom: 5px;
    
}

.heading-s{

    font-size: 25px;
    
}

.heading-xs{

    font-size: 20px;
    
}
.list-l{

    list-style-type: none;
    font-size: 35px;
    text-align: justify;
    font-family: Rounded2;

}
.list-m{

    list-style-type: none;
    font-size:30px;
    text-align: justify;
    font-family: Rounded2;

}

.important-text-h{

    color: #a00000;

}
.important-text-m{

    color: #07304b;

}