@font-face {
    font-family: 'Rounded';
    src: url('/Fonts/maagkramp.ttf');
    
}
@font-face {

font-family: 'Rounded2';
    src: url('/Fonts/Odin\ Rounded\ -\ Light.otf');

}

/*
base-color: #0f1123
base-background-color: #c7cedf
nav-background-color: #00413f
select-color: #007a79
#976f4f
#4d2a16
*/
body{

    background-color: #c7cedf;

}
.navbar{

    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    background-color: #00413f;
    z-index: 1000;

}
.nav{

width: 100%;
position: relative;
margin-left: 15%;

display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-start;
align-items: center;

}
.nav-item{

    text-decoration: none;
    color: #c7cedf;
    
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    text-transform: uppercase;
    font-family: Rounded;
    overflow: hidden;
    z-index: 10;
    transition: 1s all ease;
    
}

.nav-item:hover{


    background-color: #007a79;
    border-radius: 5px;

}

.nav-icon{

 align-self: flex-end;

}

.main{

    position: relative;
    top: 60px;
    background-color: #b1b7c5;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding: 20px;
    padding-bottom: 30px;

}

.section{

    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #b1b7c5;

}

#Welcome{

    border-bottom: 3px solid #000;

}

#Personal-Information{

    border-bottom: 3px solid #000;

}

.btn-primary{

    display: inline-block;
    border: 0;
    padding: 5px 10px;
    margin: 6px;
    background-color: #4d2a16;
    border-radius: 10px;

}



.btn-link{

    cursor: pointer;
    display: inline-block;
    position: relative;
    color: #000;
    text-decoration: none;
    margin-right: 8px;
    padding: 16px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 50px;
    overflow: hidden;
    
  }

  .btn-fill{

    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

  }

  .btn-fill:hover{

    box-shadow: 0 0 40px 40px #00413f inset;
    color: #c7cedf;

  }

#Soft-container{

    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

#Soft-container .list-m{

    cursor: default;
    position: relative;
    background-color: #c7cedf;
    max-width: 200px;
    border: 5px solid #00413f;
    border-radius: 20px;
    padding: 30px;

}

#Soft-container .list-m:hover{

    bottom: 15px;
    box-shadow: 5px 10px 8px 10px rgb(93, 93, 93);

}

/*============================================footer=========================================================*/
.footer{

    margin-top: 60px;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    position: absolute;
    left: 0%;
    right: 0%;
    background-color: #00413f;

}

.copy{

    color: #c7cedf;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Rounded;

}

#Facebook{

    color: #4267B2;
    border-radius: 30px;
    width: 48px;
    height: 48px;
    margin: 25px;

}

#Instagram{

    color: #fff;
    background-image: linear-gradient(to bottom, #405DE6,#5851DB,#833AB4,#C13584,#E1306C,#FD1D1D,#F56040,#F77737,#FCAF45,#FFDC80);
    border-radius: 20px;
    width: 48px;
    height: 48px;
    margin: 25px;

}

#GitHub .footer-icon{

    color: #fff;
    border-radius: 30px;
    width: 48px;
    height: 48px;
    margin: 25px;

}

#Twitter{

    color: #1DA1F2;
    border-radius: 30px;
    width: 48px;
    height: 48px;
    margin: 25px;

}

#LinkedIn{

    color: #2867B2;
    border-radius: 30px;
    width: 48px;
    height: 48px;
    margin: 25px;

}